.page-numbers li {margin-right: 3px;}
.page-numbers.current {background: #eee;border-color: teal;}
.navbar {margin-bottom: 0;}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron p:last-child {margin-bottom: 0;}
.jumbotron-heading {font-weight: 300;}
.jumbotron .container {max-width: 40rem;}
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.card {
  float: left;
  width: inherit;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}
.card > img {margin-bottom: .75rem;}
.card-text {font-size: 85%;}
footer {
padding-top: 1.3rem;
padding-bottom: 0.1rem;
overflow: hidden;
}
.page-numbers{
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
a.page-numbers{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-numbers.current {
    background: #fff;
    border-color: #ddd;
    color: #868e96;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 1px;
    line-height: 1.25;
}
li.page-numbers{}
nav > ul {list-style: none;display: flex;}
article {margin-bottom: 25px;clear: both;padding-top: 10px;}
.card{padding:0;}
.card-body{padding:0;}
.container-fluid{padding:0;}
.card-img-overlay {background: rgba(227,233,227,0.62) !important;box-shadow: 0 .33rem 1rem rgba(1,0,15,1);}
.card-tx{background-color: rgba(233, 227, 218, .556) !important;
border-radius: 55px;}
.topsec{box-shadow: 0 .5rem 1rem rgba(100,100,100,.7),inset 0 -3px 0 rgba(0,0,0,.3);}
.cardhome{
    background: rgb(0,72,127, 0.727);
    padding: 2rem;
    border-radius: 27px;
    position: relative;
    top: 7rem;
}
.byline {margin-right: 1rem;}
.posted-on {margin-right: 1rem;}
.entry-format {margin-right: 1rem;}
.tags-links {margin-right: 1rem;}
.entry-content {padding: 2rem;font-size: 1.2rem;}
.blog-main {padding-bottom: 4rem;}
.blog-post-title {margin: 1.5rem;border-radius:7px;}
.avatar {margin-right: .5rem;border-radius: 50% !important;}
.clearfix{clear:both;}
ul{list-style: none;}
.bg-trans {background: transparent !important;}
/*.blog-post img {box-shadow: 3px 3px rgba(11, 102, 125, .33);}*/
.blog-footer {border-top: 0.7px solid #ccc;}
.row {margin-right: 0;margin-left: 0;}
.car-img-overlay {background: rgba(88,23,3,.27);}
.ht25{height:25px;clear:both;}
.ht75{height:75px;clear:both;}
.ht50{height:50px;clear:both;}
.homerow{margin-top: 5rem;}
#main{padding-top: 3.3rem;}
img{max-width: 100%;height: auto;}
